<div id="filters" ng-controller="Filters as vm">
    <form class="form" role="form" name="filterForm" ng-submit="vm.submitFilter()">
        <div class="form-group">
            <select class= "form-control" ng-model="vm.distanceFromUser">
                <option value="" selected disabled>Distance</option>
                <option value=".25">0.25 mile</option>
                <option value="1">1 mile</option>
                <option value="5">5 miles</option>
                <option value="20">20 miles</option>
            </select>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="vm.greatForClients"/>Great for Clients</label>
        </div>
        <div class="checkbox">

            <label><input type="checkbox" ng-model="vm.awesomeDrinks"/>Awesome Drinks</label>
        </div>

        <div class="checkbox">

            <label><input type="checkbox" ng-model="vm.openLate"/>Open Late</label>
        </div>
        <div class="checkbox">

            <label><input type="checkbox" ng-model="vm.greatService"/>Great Service</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="vm.grabAndGo"/> Grab and Go</label>
        </div>
        <button type="submit" ng-click="vm.submitFilter()" class="btn btn-default">Search with Filters</button>
    </form>
</div>
