<div id="search" class="container">

  <div class="row logo">*</div>
  <div class="row">
    <input type="text" class="col-xs-12" placeholder="Search" ng-model="vm.searchText" ng-enter="vm.search()"/>
  </div>
  <div class="row">
    <div class="col-xs-12" ng-repeat="place in vm.nearbyPlaces">
      <div>{{place.name}}</div>
      <div class="pull-right">{{place.distance}}</div>
      <div>{{vm.avgRating}}</div>
    </div>
  </div>

    <input type="button" ui-sref="search.filters" value="go to filters"/>

</div>