<div id="search">

<!--   <div class="text-center form-group">
  <img src="content/images/wmp_icon.png">
</div> -->

  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchTerm" ng-enter="vm.search()" ng-submit="vm.search()"/>
    </div>
  </form>

  <div class="list-group">
    <a class="list-group-item" ng-repeat="place in vm.nearbyPlaces">
      <span class="pull-right">{{place.distance}}</span>
      <h4 class="list-group-item-heading">{{place.name}}</h4>
      <p class="list-group-item-text">{{vm.avgRating}}</p>
    </a>
  </div>

  <div class="row">
      <div class="col-xs-12">
          <button type="button" class="btn btn-default col-xs-12" ng-click="vm.filter()">Filter</button>
      </div>
  </div>

  <div ng-if="vm.searchResults">
      <ul class="list-group">
          <li class="list-group-item" ng-repeat="result in vm.searchResults">
            {{::result.Name}}
            {{::result.Tags[0].Name}}
          </li>
      </ul>
  </div>
  <ng-include ng-if="vm.showFilterSection" src="'app/search/filters/search.filters.html'"></ng-include>

  <!--<ui-view ng-controller="FilterResults"></ui-view>-->

<div ng-if="vm.error">
    {{:: vm.error.msg}}
</div>
</div>