<div class="container">
  <form name="loginForm" ng-submit="vm.submitLogin()">
    <div class="row">
      <input id="username" placeholder="username" ng-required="true" ng-model="vm.username" class="col-xs-12" required />
    </div>
    <div class="row">
      <input type="password" id="password" placeholder="password" ng-required="true" ng-model="vm.password" class="col-xs-12" required/>
    </div>
    <div class="row">
      <input type="submit" value="Login" class="col-xs-12 login-btn" />
    </div>
  </form>
  <input type="button" ui-sref="search" value="Search for a place"/>
  <input type="button" ui-sref="places.add" value="Check out places"/>

</div>
